<div id="dashboardpage">
    <h1 id="dashboard">DASHBOARD</h1>
    <h2 id="welcome1">Welcome <%= username %></h2>
    <%- include('messages') %>
    <div id="container">
        <a id="create" href="/createTeam">Create a team</a><br>
        <a id="exsist" href="/exsistingTeam ">Exsisting team</a><br>
        <a id="vote" href="/forvoting">enter code to keep vote</a><br>
        <a id="logout" href="/logout">LOGOUT</a>
    </div>
</div>