<div id="welcome">
<h1 >WELOCME TO VOTING PAGE</h1>

<p id="welcomep">Do you have an account <a href="/login" id="login">LOGIN</a> here OR <a href="/register" id="register">REGISTER</a> </p>

</div>